PmagPy.pdf

Thellier_GUI_tutorial.synctex.gz

Thellier_GUI_tutorial.aux

Thellier_GUI_tutorial.tex

*.gz

Thellier_GUI_tutorial.log

Thellier_GUI_tutorial.dvi

Thellier_GUI_tutorial.tex

*.aux

*.aux

*.aux

*.css

*.dvi

*.aux


*.tmp

*.toc
*.4ct
*.4tc
*.glg
*.pdf
*.xref
*.idv
*.log
#PmagPy.tex#
.DS_Store
#PmagPy.tex#