PmagPy.pdf

Thellier_GUI_tutorial.synctex.gz

Thellier_GUI_tutorial.aux

Thellier_GUI_tutorial.tex

*.gz

Thellier_GUI_tutorial.log

Thellier_GUI_tutorial.dvi

Thellier_GUI_tutorial.tex

*.aux

*.aux

*.aux

*.css

*.dvi

*.aux


PmagPy.aux

PmagPy.css

PmagPy.dvi

PmagPy.idv

PmagPy.lg

PmagPy.log

PmagPy.tmp

PmagPy.toc
